body{
    background-color: #342e5b;
    font-family: Times, Times New Roman, serif;
    color: #CCFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
}


#imgBackground{ 
    border-radius: 50%;
    height: 23%;
    width: 49%;
    background-color: #342e4b;
    margin: auto;
    margin-bottom: 20px;
}


#img{
    border-radius: 50%;
    height: 77%;
    width: 80%;
    margin: 9.6%;
}


.div{
    padding-top: 20%;
}    


#groupImg{
    display: flexbox;
    align-items: center;
    margin-left: 20%;
}


#groupTagsDiv{
    padding-bottom: 8px;
}


#status{
    margin-left: 10%;
}